<div class="story-body scrollytelling">
    <h2>Here's another graphic</h2>
    <p>Unlike the last one, this one is actually going to get crazy.</p>

    <div id="chart-1" class="chart"></div>

    <div class="steps">
        <div class="step" id="step-reset">
            <p></p>
        </div>
        <div class="step" id="step15">
            <p>Severe pollution days in 2015</p>
        </div>

        <div class="step" id="step16">
            <p>Severe pollution days in 2016</p>
        </div>

        <div class="step" id="step17">
            <p>Severe pollution days in 2017</p>
        </div>

        <div class="step" id="step18">
            <p>Severe pollution days in 2018</p>
        </div>
    </div>
</div>

<script src="scripts/chart-01.js"></script>