<div class="story-body">
  <p>winds contribute to the smog by carrying pollutants from industrialized southern regions.</p>
  <p>The sandstorms begin in areas such as Inner Mongolia where overgrazing and deforestation have increased desert areas. Strong winds pick up loose dust and dirt, mixing them with industrial pollution.</p>
  <!-- If you use images, the path is just images/___ -->
  <p class='chart-section'><img src="images/china_map.png"></p>
  <p class='chart-source'>Source: Natural Earth Data </p>
</div>