<div class="story-body">
  <p>One third of Beijing’s air pollution comes from outside of the city. Strong winds intensify the smog by carrying pollutants from desert areas in the northwest and industrialized southern regions.</p>
  <!-- If you use images, the path is just images/___ -->
  <p class='chart-section'><img src="images/china_map.png"></p>
  <p class='chart-source'>Source: Natural Earth Data </p>
</div>