<div class="story-body">
  <p>Inside the capital city, coal burning and car emissions are among the major sources of pollution. Since 2014, China has implemented new emissions standards and set limits on burning coal. It also banned the construction of new coal plants surrounding Beijing. </p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/compare01.jpg"></p>
  <p style="text-align: center"><img src="images/compare02.jpg"></p>
  <p style="text-align: center"><img src="images/compare03.jpg"></p>
  {{!-- <p style="text-align: center"><img src="images/compare04.jpg"></p> --}}
  <p style="text-align: center"><img src="images/compare05.jpg"></p>
  <p class='chart-source'>Source: The Guardian </p>
</div>