<div class="story-body">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, elit tincidunt dapibus interdum, dui ligula tincidunt arcu, sed euismod lorem lacus quis metus. Aliquam non feugiat mi. Nam dictum arcu at magna sollicitudin tristique.</p>
  <p>Quisque commodo, orci a varius rhoncus, diam magna consectetur lectus, tincidunt consectetur lectus ipsum vel leo. Mauris in augue eu ex euismod facilisis ac quis ipsum.</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/compare01.jpg"></p>
  <p style="text-align: center"><img src="images/compare02.jpg"></p>
  <p style="text-align: center"><img src="images/compare03.jpg"></p>
  {{!-- <p style="text-align: center"><img src="images/compare04.jpg"></p> --}}
  <p style="text-align: center"><img src="images/compare05.jpg"></p>
  <p class='chart-source'>Source: The Guardian </p>
</div>