<div class="story-body">
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/compare01.jpg"></p>
  <p style="text-align: center"><img src="images/compare02.jpg"></p>
  <p style="text-align: center"><img src="images/compare03.jpg"></p>
  {{!-- <p style="text-align: center"><img src="images/compare04.jpg"></p> --}}
  <p style="text-align: center"><img src="images/compare05.jpg"></p>
  <p class='chart-source'>Source: The Guardian </p>
</div>