
<div class="story-body">
  <p>Among the 36 detectors distributed in Beijing, the majority are concentrated in the municipal area. Those detectors, built by the local government, have documented Beijing's air pollution level in the past decade.</p>
  <p>Data showed that all locations have seen the number of pollution days declined from 2015 to 2018. Any day with an average PM2.5 concentration level above 100 is considered as polluted and "very unhealthy" for human beings according to World Health Organization. The number of pollution days have decreased from over 100 to less than 50 in 2018.</p>
  <p></p>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
<div id='map'></div>
<script src="scripts/mapbox.js"></script>
</div>